*{
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.7)),url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
a.active_link{
    color: pink !important;
    border-bottom: 2px solid white;
}
.active_link:hover{
    color: pink !important;
    border-bottom: 2px solid white;
}
ul.dropdown-menu{
    width: 200%;
    padding: 0.5rem;
}
.logo{
    text-decoration:none;
    color: red;
    font-weight: bold;
    font-size: 2rem;
}
.errorPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.errorbody{
    width: 100%;
    height:88.6vh;
    overflow: hidden;
}
.corousel_image{
    width: 100%;
    height:100vh;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
}
.carousel_content{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-40%);
}
.handlePersonalDetail:hover{
    color: pink;
    margin-left: 10px;
}
.about_me{
   
}
.tab_btn_image{
    width:178px;
    height:100px;
    object-position: center;
    object-fit: cover;
    border-radius:5px;
}
.tab_btn_image_hover:hover{
    background-color: pink;
}
.tab_content_image{
    height: 53vh;
    border-radius: 20px;
   
}
.tabimagesize{
    width: 100%;
    height: 53vh;
    object-fit: cover;
    object-position: center;
}
.title{
    position: relative;
}
.educationIcon{
    position: relative;
}
.educationIcon::after{
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f5da";
    width:15%;
    height:125%;
    background-color: white;
    top:10px;
    left:42.5%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size:3rem;
    border: 4px solid pink;
}
.title::after{
    position: absolute;
    content: "";
    left: 45%;
    bottom:-5px;
    height:3px;
    width:10%;
    background-color: pink;

}
.batch_year_hover:hover{
   background-color: pink;
   color: black;
}
.batch_year_hover{
    background-color: #093d5b;
    
}

.aim_hover{
    position: relative;
    color: pink;
    cursor: pointer;
}
.aim_hover:hover{
    color: red;
    text-decoration-color: red !important;
}
.aim_hover:hover::after{
    display: none;
}
.aim_hover::after{
    position:absolute;
    content: "\f0a5";
    right:-30px;
    top:6px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: red;
}
.skill_card{
    /* border-image: linear-gradient(to right, #093d5b, pink) 1;
    border-image-width: 5px ;
    border-style: solid; */
    border: 5px solid #093d5b;
    background-image: linear-gradient(to right,rgba(9,61,91,0.2),rgba(9,61,91,0.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    border-radius: 0 30px 0 30px;
}
.skill_card1{
    /* border-image: linear-gradient(to right, #093d5b, pink) 1;
    border-image-width: 5px ;
    border-style: solid; */
    border: 5px solid pink;
    border-radius: 30px 0 30px 0;
    background-image: linear-gradient(to right,rgba(9,61,91,0.2),rgba(9,61,91,0.9));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.skill_range{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range::after{
   position: absolute;
   content: "70%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range:hover::after{
    animation: skill_range_tra 5s linear 1;
    width: 70%;
}
@keyframes skill_range_tra {
    from{
        width: 20%;
    }
    to{
      width: 70%;
    }
}

@keyframes skill_range_ani {
    from{}
    to{
      width: 70%;
    }
}
.skill_range1{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range1::after{
   position: absolute;
   content: "75%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range1_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range1:hover::after{
    animation: skill_range1_tra 5s linear 1;
    width: 75%;
}
@keyframes skill_range1_tra {
    from{
        width: 20%;
    }
    to{
      width: 75%;
    }
}

@keyframes skill_range1_ani {
    from{}
    to{
      width: 75%;
    }
}
.skill_range2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range2::after{
   position: absolute;
   content: "50%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range2_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range2:hover::after{
    animation: skill_range2_tra 5s linear 1;
    width: 50%;
}
@keyframes skill_range2_tra {
    from{
        width: 20%;
    }
    to{
      width: 50%;
    }
}

@keyframes skill_range2_ani {
    from{}
    to{
      width: 50%;
    }
}
.skill_range3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range3::after{
   position: absolute;
   content: "55%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range3_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range3:hover::after{
    animation: skill_range3_tra 5s linear 1;
    width: 55%;
}
@keyframes skill_range3_tra {
    from{
        width: 20%;
    }
    to{
      width: 55%;
    }
}

@keyframes skill_range3_ani {
    from{}
    to{
      width: 55%;
    }
}
.skill_range4{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range4::after{
   position: absolute;
   content: "55%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range4_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range4:hover::after{
    animation: skill_range4_tra 5s linear 1;
    width: 55%;
}
@keyframes skill_range4_tra {
    from{
        width: 20%;
    }
    to{
      width: 55%;
    }
}

@keyframes skill_range4_ani {
    from{}
    to{
      width: 55%;
    }
}
.skill_range5{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    background-color: #093d5b;
}
.skill_range5::after{
   position: absolute;
   content: "40%";
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2rem;
   font-weight: bolder;
   width:0%;
   height: 100%;
   background-image: linear-gradient(to right,#093d5b,pink);
   left: 0;
   border-radius: 30px;
   animation: skill_range5_ani 5s linear 1;
   animation-fill-mode: forwards;
   transition: all linear 5s;
}
.skill_range5:hover::after{
    animation: skill_range5_tra 5s linear 1;
    width: 40%;
}
@keyframes skill_range5_tra {
    from{
        width: 20%;
    }
    to{
      width: 40%;
    }
}

@keyframes skill_range5_ani {
    from{}
    to{
      width: 40%;
    }
}
.skill_title {
    background-color:#0b0520;
    width: 37%;
    border-radius: 30px 0 ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill_title::after{
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent rgb(4, 33, 48) transparent transparent;
    right:0;
    top:13px;
}
.experience_icon{
    height:73vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_title_icon{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color:rgb(9,61,91);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social_title_icon:hover .fas{
     transform: rotate(15deg);
     color: pink;
}
.social_icon{
    width:45px;
    height:45px;
    border-radius: 50%;
    background-color: rgb(24, 73, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_icon .fab,
.social_title_icon .fas{
    color: white;
}
.social_icon:hover .fab{
  transform:rotate(-15deg);
  color: pink;
}
.get_in_touch{
    position :relative;
    height: 78px;
    width: 20%;  
}
.send_message:hover{
    color:pink !important;
    background-color:#031520;
}
.text-transform{
    text-align: justify;
    text-indent: 5rem;
}
.project_title{
    position: relative;
    background-color: #09496e;
}
.project_title .fas{
    
    color: pink;
}
.project_title .fas:hover{
    color: #1c0375; 
}
.project_title::after{
    content: "";
    position: absolute;
    right:0px;
    top:97px;
    border-width:20px 100px;
    border-style: solid;
    border-color:#093d5b transparent transparent #093d5b ;
}
.project_discription{
    position: absolute;
    height: 100%;
    width:350%;  
    left:40%;
    top:40px;
    z-index: -1;
    padding-left:64%;
    padding-right:2rem;
    text-align: justify;
    background-image: linear-gradient(to right,rgb(31, 27, 100),rgba(9,61,91));
}
.interest_C{
    width:30%;
    position: relative;
    background-color: #0c0524;
    height:140px;
    border-radius: 40px 0 0 40px;

}
.interest{
    position: absolute;
    width:313%;
    background-color: #093d5b;
    left:20%;
    top: 20px;
    padding: 2rem;
    border-radius: 40px 0 0 40px;
}
.interest_image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-image: linear-gradient(to right,rgba(9,61,91,0.3),rgba(9,61,91,0.9)),url(interest.jpg);
}
@keyframes get_animation {
  from{
      left:-30%;
  }
  to{
      left:100%;
  }
}
@media(max-width:400px){
    h1{
        font-size:1.6rem;
        font-weight: bolder;
    }
    h2{
        font-size:1.4rem
    }
    h3{
        font-size: 1.2rem;
    }
    h4{
        font-size: 1.1rem;
        font-weight: bolder;
    }
    h5{
        font-size: 1rem;
    }
    p{
        font-size:0.8rem !important;
    }
    .tab_btn_image{
      width: 100%;
    }
    .tab_btn_image_res{
        display: grid;

        grid-template-columns: repeat(2,1fr);
    }
    .education_card_res{
        margin: auto;
    }
    .education_card_margin_res{
        margin-top: 1.5rem;
    }
    .skill_title::after{
        display: none;
    }
    .get_in_touch{
        width: 40%;
    }
    .interest_image{
        width: 100%;
        height: 200px;
    }
    .project_title{
        width: 100%;
        padding:10px 0px;
        margin-bottom: 4rem;
    }
    .project_discription{
        bottom: 2rem;
        left: 0;
         top:56px;
        width: 100%;
        padding: 10px;
        height: 115px;
    }
    .projects_res{
       padding:0 10px;
       margin:1rem auto;
    }
    .project_title::after{
        display: none;
    }
    .wanna_be{
        display: none;
    }
    .star{
        position: absolute;
        top: 40vh;
        left: 10%;
        animation: star-animation 3s linear infinite;
    }
    @keyframes star-animation{
     from{
         transform: scale(0);
         opacity: 1;
     }
     to{
         transform: scale(0.5);
         opacity: 0;
     }
    }
    .meteor{
        position: absolute;
        top: 15vh;
        right:-5%;
        animation: meteor-animation 4s linear infinite;
        animation-delay: 2s;
    }
    @keyframes meteor-animation {
        from{
            opacity: 1;
            transform: translate(0);
        }
        to{
        transform: translate(-100px ,100px);
        opacity: 0;
        }
    }
    .meteor1{
        position: absolute;
        bottom: 3vh;
        right:20%;
        animation: meteor1-animation 4s linear infinite;
        animation-delay: 10s;
        opacity: 0;
        
    }
    @keyframes meteor1-animation {
        from{
            
            transform: translate(0);
        }
        to{
        transform: translate(100px ,100px);
        opacity: 1;
        }
    }
    .circle{
        position: absolute;
        top: 66vh;
        left:70%;
        animation: circle-animation 1s ease-in-out infinite;
    }
    @keyframes circle-animation{
        from{
            transform: scale(0);
            opacity: 0;
        }
        to{
            transform: scale(0.3);
            opacity: 0.6;
        }
       }

}
@media (max-width:992px){
    ul.dropdown-menu{
        width: 100%;
    } 
    .nav_logo{
        margin: 1rem 0;
    } 
    .email_margin{
        margin-bottom: 1rem;
    }
    
}
@media (max-width:485px){
    .education_linehight{
        line-height: 1 !important;
    }
    .skill_title{
        width: 100%;
    }
    .skill_title::after{
    border-width: 15px;
    }
}
@media(min-width:401px){
    .star , .meteor ,.meteor1 , .circle{
        display: none;
    }
}